@model SYGESTMunicipalSync.Areas.Admin.Models.ViewModel.PersonaViewModel
@using SYGESTMunicipalSync.Areas.Admin.Models.ViewModel
@using SYGESTMunicipalSync.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-light" style="text-align:center; background-color:#263182;width:100%;">
            Registrar Persona
        </h3>
    </div>
</div>
<br />

<form asp-controller="Persona" asp-action="Create" method="post" id="viewAgregar" enctype="multipart/form-data">
    <div class="container-fluid">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class=" col-md-6 text-right">
                <label>Cédula/Pasaporte: <span class="required">*</span></label>
            </div>
            <div class="row-cols-md-6">
                <input asp-for="Persona.CedulaPersona" class="form-control" placeholder="Digite la cédula o pasaporte aquí" required>
            </div>
            <span asp-validation-for="Persona.CedulaPersona" class="text-danger"></span>
            @if (Model != null && ViewBag.Error != "")
            {
                <p class="text-danger">@ViewBag.Error</p>
            }
        </div>
        <div class="col-md-6">
            @if (ViewBag.Error != "")
            {
                <p class="text-danger">@ViewBag.Error</p>
            }
        </div>

        <div class="form-group row col-md-12">
            <div class="form-group row col-md-5">
                <div class=" col-md-4 text-right">
                    <label>Nombre: <span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Persona.Nombre" class="form-control" placeholder="Digite el nombre" required>
                </div>
                <span asp-validation-for="Persona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group row col-md-5">
                <div class=" col-md-4 text-right">
                    <label>Primer Apellido: <span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Persona.Ape1" class="form-control" placeholder="Digite el primer apellido" required>
                </div>
                <span asp-validation-for="Persona.Ape1" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row col-md-12">
            <div class="form-group row col-md-5">
                <div class=" col-md-4 text-right">
                    <label>Segundo Apellido: <span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Persona.Ape2" class="form-control" placeholder="Digite el segundo apellido" required>
                </div>
                <span asp-validation-for="Persona.Ape2" class="text-danger"></span>
            </div>

            <div class="form-group row col-md-5">
                <div class=" col-md-4 text-right">
                    <label>Fecha Nacimiento: <span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input type="date" asp-for="Persona.FechaNac" class="form-control" placeholder="Seleccione la fecha de Nacimiento" required>
                </div>
                <span asp-validation-for="Persona.FechaNac" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row col-md-12">
            <div class="form-group row col-md-5">
                <div class=" col-md-4 text-right">
                    <label>Correo Electrónico:</label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Persona.Email" class="form-control" placeholder="Digite el correo electrónico">
                </div>
                <span asp-validation-for="Persona.Email" class="text-danger"></span>
            </div>

            <div class="form-group row col-md-5">
                <div class=" col-md-4 text-right">
                    <label>Sexo: <span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <select id="Sexo" asp-for="Persona.Sexo" class="form-control" placeholder="Seleccione su sexo" required>
                        <option>H</option>
                        <option>M</option>
                    </select>
                </div>
                <span asp-validation-for="Persona.Sexo" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row col-md-12">
            <div class="form-group row row-cols-md-5">
                <div class=" col-md-6 text-right">
                    <label>Teléfono Móvil:</label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Persona.TelMovil" class="form-control" placeholder="Digite un número de celular válido" required>
                </div>
                <span asp-validation-for="Persona.TelMovil" class="text-danger"></span>
            </div>

            <div class="form-group row row-cols-md-5">
                <div class=" col-md-6 text-right">
                    <label>Teléfono Fijo: </label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Persona.TelFijo" class="form-control" placeholder="Digite un número de casa válido">
                </div>
                <span asp-validation-for="Persona.TelFijo" class="text-danger"></span>
            </div>

            <div class="form-group row row-cols-md-5">
                <div class=" col-md-6 text-right">
                    <label>Fax:</label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Persona.Fax" class="form-control" placeholder="Digite un número de fax válido">
                </div>
                <span asp-validation-for="Persona.Fax" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row row-cols-md-4">
            <div class=" col-md-4 text-right">
                <label>Dirección: <span class="required">*</span></label>
            </div>
            <div class="col-md-6">
                <textarea asp-for="Persona.Direccion" rows="4" cols="50"
                          class="form-control" placeholder="Digite la dirección exacta aquí" required> </textarea>
            </div>
            <span asp-validation-for="Persona.Direccion" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="form-group row">
                <div class=" col-md-2 text-right">
                    <label>Provincia: <span class="required">*</span></label>
                </div>
                <div class="col-md-6">
                    <select asp-for="@Model.Persona.ProvinciaId" id="ProvinciaId"
                            asp-items="Model.Provincia.ToSelectListItem(Model.Persona.ProvinciaId)"
                            class="form-control"></select>

                </div>
            </div>
            <div class="form-group row">
                <div class=" col-md-2 text-right">
                    <label>Canton: <span class="required">*</span></label>
                </div>
                <div class="col-md-6">
                    <select asp-for="@Model.Persona.CantonId" name="CantonId" id="CantonId"
                            asp-items="@(new SelectList(string.Empty,"Id","Nombre"))"
                            class="form-control"></select>
                </div>

            </div>

            <div class="form-group row">
                <div class=" col-md-2 text-right">
                    <label>Distrito: <span class="required">*</span></label>
                </div>
                <div class="col-md-6">
                    <select asp-for="@Model.Persona.DistritoId" name="DistritoId" id="DistritoId"
                            asp-items="@(new SelectList(string.Empty,"Id","Nombre"))"
                            class="form-control"></select>
                </div>

            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-3 text-md-right">
                <a asp-action="Index" type="button" style="color:white"
                   class="btn btn-success fa fa fa-arrow-circle-left inicio">
                    Regresar
                </a>
            </div>
            <div class="col-md-1 text-md-center">
                <input type="button" value="Agregar" id="btnAgregar"
                       class="btn btn-info"
                       onclick="abrirModal()" />
            </div>
        </div>
    </div>

</form>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Agregar Persona', '¿Realmente Desea Agregar estos datos?').then((result) => {
            if (result.value) {
                var viewAgregar = document.getElementById("viewAgregar");
                viewAgregar.submit();
                Swal.fire(
                    'La persona fue agregada!',
                    'exitosamente!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'La persona no ha sido agregada!!!:)',
                    'error'
                )
            }
        })
    }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GetCantones();

         $('#ProvinciaId').change(function () {
             GetCantones();

         });
     });
    function GetCantones() {
        var url = '@Url.Content("~/")' + "Admin/Persona/GetCantones/";
         var ddlsource = '#ProvinciaId';
         $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
             var items = '';
             $('#CantonId').empty();
             $.each(data, function (i, canton) {
                 items += "<option value='" + canton.value + "'>" + canton.text +
                     "</option>";
             });
             $('#CantonId').html(items);
         })
    }
</script>
<script type="text/javascript">
     $(document).ready(function () {
         GetDistritos();

         $('#CantonId').change(function () {
             GetDistritos();

         });
     });
    function GetDistritos() {
        var url = '@Url.Content("~/")' + "Admin/Persona/GetDistritos/";
         var ddlsource = '#CantonId';
         $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
             var items = '';
             $('#DistritoId').empty();
             $.each(data, function (i, distrito) {
                 items += "<option value='" + distrito.value + "'>" + distrito.text +
                     "</option>";
             });
             $('#DistritoId').html(items);
         })
    }
</script>