@model IEnumerable<PersonaViewModel>
@using SYGESTMunicipalSync.Areas.Admin.Models.ViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="<border backgroundWhite">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-info">Lista de Personas</h2>
            </div>
            <div class="col-6 text-right">
                <p>
                    <a asp-action="Create" class="btn btn-info">
                        <i class="fas fa-plus"></i>
                        &nbsp; Crear Nuevo
                    </a>
                </p>
            </div>
        </div>
        <br />
        <form asp-area="Admin" asp-controller="Persona" asp-action="Index" method="post">
            <div class="row">
                <div class="col-lg-2 text-right">
                        <a asp-area="Home" asp-controller="Home" asp-action="Index"
                           class="btn btn-info fa fa-arrow-circle-left"
                           style="width:80%; height:100%;padding:12px;">
                            Regresar al menú
                        </a>
                    </div>
            </div>
            <div class="col-md-12" style="color:black;"><hr /></div>
        </form>

        @if (Model.Count() > 0)
        {
            <table class="table table-hover .table-responsive" id="TbPersonas">
                <thead class="thead-dark">
                    <tr class="table-secondary" style="text-align:center;">
                        <th>@Html.DisplayNameFor(m => m.CedulaPersona)</th>
                        <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                        <th>@Html.DisplayNameFor(m => m.Email)</th>
                        <th>@Html.DisplayNameFor(m => m.TelMovil)</th>

                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody style="text-align:center;">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.CedulaPersona)</td>
                            <td>@Html.DisplayFor(m => item.Nombre)</td>
                            <td>@Html.DisplayFor(m => item.Email)</td>
                            <td>@Html.DisplayFor(m => item.TelMovil)</td>
                            <td>


                                <a class="fa fa-info-circle btn btn-primary" aria-hidden="true"
                                   asp-controller="Persona" asp-action="Details"
                                   asp-route-id="@item.CedulaPersona"></a>

                                <a class="fa fa-pencil btn btn-info" aria-hidden="true"
                                   asp-controller="Persona" asp-action="Edit"
                                   asp-route-id="@item.CedulaPersona"></a>

                                <i class="fa fa-trash-o  btn btn-primary" aria-hidden="true"
                                   onclick="EliminarPersona(@item.CedulaPersona)"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-md-15 text-md-right">
                <script>
                    document.write('Ultima modificación: ' + window.document.lastModified)

                </script>
            </div>
        }
        else
        {
            <h5 style="color:red;">No se encontraron personas registradas aún!...</h5>
        }

 </div>

    <form asp-action="Delete" asp-controller="Persona" method="post" id="viewEliminar">
        <input type="hidden" id="txtPersonaId" name="Id" />

    </form>
        <script src="~/js/sweetalert2.js"></script>
        <script src="~/js/Utilitarios.js"></script>

        <script>
            $(document).ready(function () {
                $('#TbPersonas').DataTable(
                    {
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                        }
                    });
            })


            function EliminarPersona(CedulaPersona) {
                document.getElementById("txtPersonaId").value = CedulaPersona;
                verModal('Eliminar Persona',
                    '¿Desea eliminar la persona '
                    + Id + ' ?').then((result) => {
                        if (result.value) {
                            alert("No se puede eliminar una persona si la información está en uso")
                            var viewEliminar = document.getElementById("viewEliminar");
                            viewEliminar.submit();
                            Swal.fire(
                                'Eliminación!',
                                'La Persona  ' + CedulaPersona + ' fue eliminada!.',
                                'success'
                            )
                        }
                        else if (result.dismiss === Swal.DismissReason.cancel) {
                            Swal.fire(
                                'Cancelado',
                                'LaPersona no fue eliminada!!!:)',
                                'error'
                            )
                        }
                    })
            }
        </script>
