@model SYGESTMunicipalSync.Areas.OFIM.Models.PersonaOFIM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
    List<SelectListItem> Lista = ViewBag.ListaPersona;
    List<SelectListItem> Lista1 = ViewBag.ListaOcupacion;
    List<SelectListItem> Lista2 = ViewBag.ListaNacionalidad;
    List<SelectListItem> Lista3 = ViewBag.ListaIngresoPersona;
    List<SelectListItem> Lista4 = ViewBag.ListaSeguro;
    List<SelectListItem> Lista5 = ViewBag.ListaEstadoCivil;
    List<SelectListItem> Lista6 = ViewBag.ListaNivelAcademico;


}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Registro de Persona OFIM</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFIM" asp-controller="Empresa" asp-action="Index">PersonaOFIM</a></li>
                <li>Registro de Persona OFIM</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:darkslategray;">
                Persona OFIM
            </h3>
        </div>
    </div>

    <!-- ======= About Section ======= -->
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="contact-wrap w-100 p-md-5 p-4">
                <h2 class="text-info">Detalles de Registro</h2>
                <br>
                <form method="post" asp-action="Details" id="viewDetalles">
                    <div class="backgroundWhite">
                        <div asp-validation.summary="ModelOnly" class="text-danger"></div>


                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="PersonaOFIMId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="PersonaOFIMId" class="form-control" readonly />
                            </div>
                            <span asp-validation-for="PersonaOFIMId" class=" text-danger"></span>
                        </div>


                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="PersonaId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="PersonaId" class="form-control" readonly
                                        asp-items="@Lista"></select>
                            </div>
                            <span asp-validation-for="PersonaId" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="OcupacionId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="OcupacionId" class="form-control" readonly
                                        asp-items="@Lista1"></select>
                            </div>
                            <span asp-validation-for="OcupacionId" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="NacionalidadId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="NacionalidadId" class="form-control" readonly
                                        asp-items="@Lista2"></select>
                            </div>
                            <span asp-validation-for="NacionalidadId" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="IngresoPersonaId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="IngresoPersonaId" class="form-control" readonly
                                        asp-items="@Lista3"></select>
                            </div>
                            <span asp-validation-for="IngresoPersonaId" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="SeguroId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="SeguroId" class="form-control" readonly
                                        asp-items="@Lista4"></select>
                            </div>
                            <span asp-validation-for="SeguroId" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="EstadoCivilId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="EstadoCivilId" class="form-control" readonly
                                        asp-items="@Lista5"></select>
                            </div>
                            <span asp-validation-for="EstadoCivilId" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="NivelAcademicoId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="NivelAcademicoId" class="form-control" readonly
                                        asp-items="@Lista6"></select>
                            </div>
                            <span asp-validation-for="NivelAcademicoId" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Discapacidad" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Discapacidad" class="form-control" readonly />
                            </div>
                            <span asp-validation-for="Discapacidad" class=" text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <h5><label asp-for="Padecimiento" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <textarea asp-for="Padecimiento" rows="4" cols="50" class="form-control" readonly> </textarea>
                            </div>
                            <span asp-validation-for="Padecimiento" class="text-danger"></span>
                        </div>


                        <div class="form-group row">

                            <div class="col-md-4 text-md-right">
                                <a asp-action="Index" type="button" style="color:white"
                                   class="btn btn-warning">
                                    Regresar
                                </a>


                            </div>

                          

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

