@model IEnumerable<SYGESTMunicipalSync.Areas.OFGA.Models.Clasificacion>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}
<head>
    <title>Clasificacion</title>
</head>
<partial name="_Menu" />
<div class="container">
    <!--Cambio aca-->
    <main class="pb-3" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <h2 class="text-light">Lista Clasificacion</h2>
                </div>
            </div>
            <br />
            <form asp-controller="Clasificacion" asp-action="Index" method="post" id="frmFilter">
                <div class="row contenedorBotones">
                    <div class="col-md-2 col-lg-2 text-right">
                        <a asp-action="Create" class="btn btn-success fa fa-plus-circle crear">
                            Nuevo
                        </a>
                    </div>

                    <div class="col-md-2 colo-lg-2 text-right">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-info fa fa fa-arrow-circle-left inicio">
                            Regresar al menú
                        </a>
                    </div>
                </div>
                <div class="col-md-12 divisor"><hr></div>
            </form>
            @if (Model.Count() > 0)
            {
                <div class="contenedorTablas">
                    <table class="table table-hover border .table-responsive" id="TbEspecial">
                        <thead class="thead-dark">
                            <tr class="table-secondary trs">
                                <th>
                                    @Html.DisplayNameFor(model => model.ClasificacionId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClasificacionId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <div class="col-md-6 text-right">
                                    <a><partial name="_AddEditAndView" model="item.ClasificacionId" /></a>
                                </div>
                                <!--<div class="col-md-6">

                                    <td style="width:300px">

                                        <div class="btn-group" role="group">

                                            <a class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@Model">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-success text-white" asp-action="Details" asp-route-Id="@Model">
                                                <i class="fas fa-list-alt"></i>
                                            </a>-->
                                            @*<a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@Model">
                  <i class="fas fa-trash-alt"></i>
                </a>*@
                                        <!--</div>
                                    </td>
                                    
                                </div>-->

                                
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <h2 class="textoInformativo">No hay especialidades en la lista.</h2>
            }
        </div>
        <form asp-action="Delete" asp-controller="Clasificacion" method="post" id="viewEliminarClasificacion">
            <input type="hidden" id="txtClasificacionId" name="ClasificacionId" />
        </form>
        <form asp-action="Edit" asp-controller="Clasificacion" method="post" id="viewEditarClasificacion">
            <input type="hidden" id="txtClasificacionId" name="ClasificacionId" />
        </form>
    </main>
</div>
@*<partial name="_EndPag" />*@


