@using SYGESTMunicipalSync.Areas.Admin.Models.ViewModel
@model IEnumerable<RegistroExternoVM>
@{ ViewData["Title"] = "MiPerfil";
                Layout = "~/Views/Shared/_Login.cshtml"; }

<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-light" style="text-align:center;background-color:darkslategray;">
            Detalles de Usuario
        </h3>
    </div>
</div>
<div class="container">
    <main class="pb-3" role="main">
        <div class="<border backgroundWhite">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <h2 class="text-dark">
                        <img src="~/images/Folder.png" alt="Usuario">


                       Mi Perfil


                    </h2>
                </div>
            </div>

            <div class="col-md-12 divisor"><hr></div>
            <form asp-controller="Citas" asp-action="Details">
                <div class="backgroundWhiteBorder10Padding">
                    @if (Model.Count() > 0)
                    {
        @foreach (var item in Model)
        {
<div class="form-group row">
    <div class="col-md-4 col-lg-4 text-right">
        <label>Usuario Id asignado:</label>
    </div>
    <div class="col-md-8 col-lg-8 text-left">
        @Html.DisplayFor(m => item.UsuarioId)
    </div>
</div>
                    <div class="form-group row">
                        <div class="col-md-4 col-lg-4 text-right">
                            <label>Nombre Usuario:</label>
                        </div>
                        <div class="col-md-8 col-lg-8 text-left">
                            @Html.DisplayFor(m => item.NombreUsuario)
                        </div>
                    </div>
                                        <div class="form-group row">
                                            <div class="col-md-4 col-lg-4 text-right">
                                                <label>Cédula o Pasaporte:</label>
                                            </div>
                                            <div class="col-md-8 col-lg-8 text-left">
                                                @Html.DisplayFor(m => item.PersonaId)
                                            </div>

                                        </div>

                                                            <div class="form-group row">
                                                                <div class="col-md-4 col-lg-4 text-right">
                                                                    <label>Nombre Persona:</label>
                                                                </div>
                                                                <div class="col-md-8 col-lg-8 text-left">
                                                                    @Html.DisplayFor(m => item.NombrePersona)
                                                                </div>
                                                            </div>

                                                                                <div class="form-group row">
                                                                                    <div class="col-md-4 col-lg-4 text-right">
                                                                                        <label>Tipo de Rol:</label>
                                                                                    </div>
                                                                                    <div class="col-md-8 col-lg-8 text-left">
                                                                                        @Html.DisplayFor(m => item.NombreRol)
                                                                                    </div>
                                                                                </div>

                                                                                                    <div class="form-group row">
                                                                                                        <div class="col-md-4 col-lg-4 text-right">
                                                                                                            <label>Contraseña:</label>
                                                                                                        </div>
                                                                                                        <div class="col-md-8 col-lg-8 text-left">
                                                                                                            @Html.DisplayFor(m => item.Password)
                                                                                                        </div>
                                                                                                    </div>

                                                                                                                        <div class="form-group row">
                                                                                                                            <div class="col-md-3 text-md-right">
                                                                                                                                <a asp-action="Index" type="button" style="color:white"
                                                                                                                                   class="btn btn-success fa fa fa-arrow-circle-left inicio">
                                                                                                                                    Regresar
                                                                                                                                </a>
                                                                                                                            </div>

                                                                                                                        </div>} }
                    else
                    {
        <h3>NO hay regsitros</h3>}

                </div>
            </form>



        </div>
    </main>
</div>




